{
  "env": {
    "development": {
      "plugins": [
            ["module-resolver",
            {
                "alias": {
                    "@pages": "./imports/ui/pages/index.ts",
                    "@hooks": "./imports/ui/hooks/index.ts",
                    "@components": "./imports/ui/components/index.ts",
                    "@api/*": "./imports/api/*"
                }
            }],
        "@zodern/babel-plugin-meteor-relay"
      ]
    },
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.tests.ts",
            "**/*.test.ts",
            "**/tests/**"
          ]
        }],
        "@zodern/babel-plugin-meteor-relay"
      ]
    }
  }
}
